.neon {
    font-size: 3em;
    cursor: pointer;
}

.neon:hover {
    transform: scale(1.2);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

#gawi {
    cursor: default;
    color: #fff;
    transform: scale(1.2);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}

.NeoZoom:hover{
    transform: scale(1.2);
    cursor: default;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}
.zoom {
    margin-bottom: 5px;
}
.zoom:hover{
    transform: scale(1.2);
    cursor: pointer;
}
